body {
    background-color:rgb(71, 71, 71);
}
.flex {
    display:flex;
}
#start-game-button {
    margin-left: 20px;
    color:rgb(0, 0, 0);
    background-color:rgb(212, 210, 210);
    font-size: 34px;
    font-weight:500;
    height:fit-content;
    border-radius: 4px;
    padding:10px;
    cursor: pointer;
}
.board {
    display:grid;
    grid-gap: 4px;
    padding:48px;
    background-color:rgb(88, 88, 88);
}
.board div {
    background-color: gray;
    aspect-ratio: 1;
    max-width: 200px;
    max-height:200px;
    color:white;
    font-size:30px;
}
.pointer {
    cursor: pointer;
}
