* {
    margin:0;
    box-sizing: border-box;
}
body {
    background-color:rgb(51, 51, 51);
}
.relative {
    position:relative;
}
.absolute {
    position:absolute;
}
.flex {
    display:flex;
}
.flex-col {
    flex-direction:column;
}
.justify-center {
    justify-content:center;
}
.align-center {
    align-items:center;
}